.country-list {
    margin-top: 10px;
    border-radius: 5px;
    height: 200px !important;
    overflow: auto;
}

.country-list::-webkit-scrollbar {
    border-radius: 5px;
    width: 5px;
    background-color: gainsboro;
}

.country-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color:cadetblue;
}

/*Animation*/

.fade-in {
    position: relative;
    animation: fadein 0.8s;
}

@keyframes fadein {
    0% {
        bottom: -250px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
  }